<!DOCTYPE html>
<html>
    <head>
        <title>Flash Cards</title>
        <!-- We've provided some styles for you, aren't we nice? -->
        <link rel="stylesheet" type="text/css" href="reset.css" />
        <link rel="stylesheet" type="text/css" href="style.css" />
    </head>
  <body ng-app="flashCards">

    <div ng-controller="StatsController" id="statistics">
        <div id="scoreboard">
            <h3>Correct: <span>{{ scores.correct }}</span></h3>
            <h3>Incorrect: <span>{{ scores.incorrect }}</span></h3>
        </div>
    </div>
    <div ng-controller="MainController">
        <loader ng-hide="loaded"></loader>
    	<div class="cats">
        <button ng-repeat="category in categories" class="category-button" ng-click="getCategoryCards(category)" ng-class="{ active: category === selectedCategory }">{{ category }}</button>
        <button class="category-button" ng-click="getCategoryCards()" ng-class="{ active: selectedCategory === undefined }">All</button>
      </div>
        <flash-card></flash-card>
     
    	<script src="angular.js"></script>
    	<script src="app.js"></script>
    	<script src="/controllers/main.controller.js"></script>
      <script src="/controllers/score.controller.js"></script>
      <script src="/factories/flashcard.factory.js"></script>
      <script src="/factories/score.factory.js"></script>
      <script src="/directives/loader/loader.js"></script>
    </body>
</html>
